@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  background: linear-gradient(
    9.23deg,
    #406aff 21.43%,
    #b936ee 100%,
    #3bace2 50.63%,
    #FF4D92 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn-2 {
  background-color: #fff;
  color: #000000;
  border-radius: 1.5rem;
  padding: 0.8rem 1.5rem;
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 11.43%,
    #7c02ad 100%,
    #3bace2 50.63%,
    #FF4D92 117.04%
  );
}
.custom-color {
  color: #FF4D92;
}
.gradient {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #7c02ad 100%,
    #FF4D92 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
  height: min-content;
  margin-top: 19px;
}

.menu-link {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.menu-link::before {
  content: '';
  position: absolute;
  left: 10;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.menu-link:hover::before,
.menu-link.active::before {
  opacity: 1;
}

.decoration a span::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  margin-top: 2px;
  transform-origin: 50% 50%;
  transition: transform 0.3s ease, width 0.3s ease;
}

.decoration a:hover span::after {
  width: 100%;
}

@keyframes custom-spin {
  to {
    transform: rotate(360deg);
  }
}

.duration-custom-spin {
  animation: custom-spin 8s linear infinite; /* Ajusta la duración según tus preferencias */
}

.custom-stroke {
  stroke-width: .5;
}

/* Media Query */
@media (max-width: 768px) {
  .menu-link::before {
    top: 44%;
  }
}

@media (min-width: 960px) {
  .custom-mt {
    margin-top: 30rem;
  }
}

@media (min-width: 1200px) {
  .custom-mt {
    padding-top: 0;
  }
}

.flex-0-0-50 {
  flex: 0 0 50%;
}

.bg-custom {
  background-color: #000000;
}
/* .swiper {
  width: 300px;
  height: 300px;
  left: 50%;
  top: 35%;
  margin-left: -150px;
  margin-top: -150px;

}
@media (max-width: 360px) {
  .swiper {
    top: 15rem;
    height: 350px;
  }
} */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 350px;
}


.border-custom {
  border-color: linear-gradient(to right, red, purple);
}



.opacity-gradient {
  mask-image: linear-gradient(to top, black, transparent 80%);
  -webkit-mask-image: linear-gradient(to top, black, transparent 70%);
}


@layer base {
  body {
    @apply font-primary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#13a5ff] to-[#FF4D92] font-bold font-primary hover:from-[#FF4D92] hover:to-[#13a5ff];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
